* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 70%;
  margin: 10rem auto;
  background-color: #dc6c5e;
  border: 5px solid rgb(69, 69, 69);
  border-radius: 7px;
  position: relative;
  text-align: center;
}
.picture img {
  width: 200px;
  border: 5px solid rgb(69, 69, 69);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -50%;
  /* transform: translate(50%, 50%); */
}
.header {
  padding-top: 250px;
}
